{% extends 'budget/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <label for="categoryInput">
                Expense Categories (hit enter after every category)
            </label>
            <input type="text" id="categoryInput" name="categoryInput">
            <input type="hidden" name="categoriesString">
            <ul id="categoriesContainer">
            </ul>
            <button class="btn" type="submit">Start Project</button>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{%  endblock %}